
@media only screen and (min-width: 1440px) {
    .button-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-color: #171717;
    border-style:  solid;
    width: 384px;
    height: 86.72px;
    margin-top: 31px;
    border-radius: 130px 10px 200px 10px;
}


.button-link{
    color: #EFEAD8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    width: 384px;
    height: 86.72px;
    border-radius: 130px 10px 200px 10px;

}
.button-link:hover{
    color: #171717;
    background-color: aliceblue;
    opacity: 30%;
    border-radius: 130px 10px 200px 10px;
}
}


@media only screen and (min-width: 415px) {
    .button-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-color: #171717;
    border-style:  solid;
    border-width: 1px;
    width: 356px;
    height: 86.72px;
    margin-top: 31px;
    border-radius: 130px 10px 200px 10px;

}


.button-link{
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    width: 356px;
    height: 86.72px;
    border-radius: 130px 10px 200px 10px;

}
.button-link:hover{
    color: #171717;
    background-color: aliceblue;
    opacity: 30%;
    border-radius: 130px 10px 200px 10px;
}
}

@media only screen and (max-width: 414px) {
    .button-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-color: #171717;
    border-style:  solid;
    border-width: 1px;
    width: 306px;
    height: 86.72px;
    margin-left: 26px;
    margin-top: 31px;
    border-radius: 130px 10px 200px 10px;

}


.button-link{
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    width: 306px;
    height: 86.72px;
    border-radius: 130px 10px 200px 10px;

}
.button-link:hover{
    color: #171717;
    background-color: aliceblue;
    opacity: 30%;
    border-radius: 130px 10px 200px 10px;
}
}