
@media only screen and (min-width: 1440px) {
    body{
      font-family: 'Roboto', sans-serif;
      background-image: url(/imgs/bg-info3.png);
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
      font-weight: 500;


    }
    header{
        display: flex;
        justify-content: center;
        font-size: 50px;
        font-weight: 800px;
        color:#5F7161;
        background-color: #171717;
        margin: auto;
        width: 100%;
        height: 90px;
    }
    .logo-correct{
       margin: 0px 0px 0px 0px;
    }
    .section{
        height: auto;
        margin: auto;

    }


    .container{
        display: flex;
        justify-content: center;
        

    }
    .social-net{
        width: 384px;
        height: 439px;

    }
    
}

@media only screen and (min-width: 415px) {
    body{
      font-family: 'Roboto', sans-serif;
      background-color: #c1c1c1;
      background-image: url(/imgs/bg-info3.png);
      background-repeat: no-repeat;
     background-position-x: 50%;
      margin: auto;
      font-weight: 500;


    }
    header{
        display: flex;
        justify-content: center;
        background-color: #171717;
        margin: auto;
        width: 100%;
        height: 90px;
    }
    .logo-correct{
        width: 400px;
        margin: -113px 0px 0px 0px;
     }
    .section{
        height: auto;
        margin: auto;

    }


    .container{
        display: flex;
        justify-content: center;
        

    }
    .social-net{
        width: 384px;
        height: 439px;

    }
    
}

@media only screen and (max-width: 414px) {
    body{
      font-family: 'Roboto', sans-serif;
      background-color: #c1c1c1;
      background-image: url(/imgs/bg-cell1.png);
      background-repeat: no-repeat;
     background-position-x: 60%;
     background-size: 500px;
     background-position-y: -10%;
      margin: auto;
      font-weight: 500;


    }
    header{
        display: flex;
        justify-content: center;
        background-color: #171717;
        margin: auto;
        width: 100%;
        height: 90px;
    }
    .logo-correct{
        width: 400px;
        margin: -113px 0px 0px 0px;
     }
    .section{
        height: auto;
        margin: auto;

    }


    .container{
        display: flex;
        justify-content: center;
        

    }
    .social-net{
        width: 384px;
        height: 439px;

    }
    
}







